*{
	margin: 0px;
	padding: 0px;
}
.airport{
	height: 700px;
	width: 100%;
	float: left;
	background-image: url("ariport.jpg");
	background-size: 100% 100%;
}
.airoplane{
	height: 150px;
	width: 300px;
	background-image: url("air.png");
	background-size: 100% 100%;
	float: left;
	position: relative;
	left: 70%;
	top: 500px;
	animation-name: airoplan;
	animation-duration: 10s;
	animation-iteration-count: 5;

}
@keyframes airoplan{
	0%{top: 500px; left: 70%;}
	10%{top: 500px; left: 65%;}
	20%{top: 500px; left: 60%;}
	30%{top: 470px; left: 55%;}
	40%{top: 450px; left: 52%;}
	50%{top: 400px; left: 45%;}
	60%{top: 350px; left: 40%;}
	70%{top: 300px; left: 38%;}
	80%{top: 250px; left: 30%;}
	90%{top: 200px; left: 25%;}
	100%{top: 150px; left: -30%;}






}