*{
	margin: 0px;
	padding: 0px;
}
.main_frame{
	height: 700px;
	width: 100%;
	float: left;
	background-color: black;
}
.middle{
	height: 100px;
	width: 100%;
	background-color: red;
	margin-top: 250px;
	float: left;
}
.frame{
	height: 100px;
	width: 100px;
	/*float: left;*/
	background-image: url("elips.png");
	background-size: 100px 100px;
	margin-left: 45%;
	/*margin-top: 12px;*/
	

}
/*.frame i{
	color: white;
	font-size: 70px;
}*/
.frame:hover{
	margin-left: 45%;
background-size: 100px 100px;
background-image: url("cross.png");
}
